@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
	--color-background: #fff;
	--color-text: #111111;
	--color-text-legenda: #777777;
	--color-white: #fff;
	--color-pink: #FBDFDB;
	--color-footer: #EEEEEE;
	--color-text-footer: #999999;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color-background);
	font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-text);
    width: 100%;
    height: 80px;
}

nav {
    max-width: 940px;
	margin: 0 auto;
}

nav a img {
    margin-top: 28px;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
}

h1 {
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: Roboto-Bold;
	font-size: 24px;
	color: var(--color-text);
}

/* FORM */
input, select {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;
	height: 45px;
	width: 100%;
}

input[type="radio"] {
	width:initial;
	margin-right: 4px;
}

input::placeholder {
	font-size: 16px;
	font-weight: normal;
}

.item span {
	font-family: Roboto-Bold;
	font-size: 16px;
	color: #111111;
}

button[type="submit"],
a.button {
	padding: 8px 32px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 4px;
	margin-top: 32px;
	width: 100%;
	font-size: 16px;
}

a.button {
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
}

/*=== CARDS ===*/
.cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap serve para dar espaço enter os elementos do grid*/
    gap: 20px;
}

.card {
	background-color: var(--color-rocket);
}

.card__image-container img {
	width: 100%;
	border-radius: 15px;
	border-radius: 15px;
}

.card__content,
.card__info {
    margin-top: 5%;
}

.card__info p {
	font-family: Roboto-Regular;
	font-size: 18px;
	color: var(--color-text);
}

.card__info .card__legenda {
	margin-top: 1.7%;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: var(--color-text-legenda);
}

footer {
	margin-top: 3.5%;
	background: var(--color-footer);
	height: 62px;
}

footer p {
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: var(--color-text-footer);
	text-align: center;
	padding-top: 25px;
}

.detalheReceita {
	background-color: white;
	border-radius: 15px;
	border-radius: 15px;
}

.detalheReceita img {
	border-radius: 15px;
	border-radius: 15px;
}

.detalheReceita-title {
	font-family: Roboto-Bold;
	font-size: 36px;
	color: var(--color-text);
	text-align: center;
}

.detalheReceita-legend {
	font-family: Roboto-Regular;
	font-size: 20px;
	line-height: 38px;
	color: var(--color-text-legenda);
	text-align: center;
}

.detalheReceita .content h2 {
	font-family: 'Roboto-Bold';
	font-size: 24px;
	line-height: 38px;
	margin-bottom: 10px;
}

.detalheReceita .content p, ul {
	margin-top: 1.7%;
	margin-bottom: 1.7%;
	line-height: 28px;
	font-family: Roboto-Regular;
	font-size: 18px;
	color: #444444;
}

.detalheReceita .content li {
	margin-left: 25px;
}

.detalheReceita .content a {
	font-family: Roboto-Bold;
	font-size: 12px;
	color: var(--color-text-footer);
	text-decoration: none;
}

.linkItemReceita {
	cursor: pointer;
}