{% extends "layoutAdmin.njk" %}

{% block content %}
	<form class="card" method="POST" action="/admin/recipes">
		<section class="details">
			<div id="headerForm">
				<h1>Criando receita</h1>
				<button type="submit">Salvar</button>
			</div>

			{% include 'admin/recipes/fields.njk' %}
		</section>
	</form>

{% endblock content %}