{% extends "layoutAdmin.njk" %}

{% block content %}
	<div class="card table-container">
		<a href="/recipes/create">Novo</a>
		<table width="100%">
			<thead>
				<tr>
					<th>Instructor</th>
					<th>Atendimento</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				{% for recipe in recipes %}
				<tr>
					<td>
						<span style='background-image: url({{ recipe.avatar_url }})'></span>
						{{ recipes.name }}
					</td>
					<td>{{ instructor.services }}</td>
					<td><a href="/recipes/{{recipe.id}}">ver</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock content %}