{% extends "layoutAdmin.njk" %}

{% block content %}
	<h1>Gerenciar receitas</h1>
	<section class="cards">
		{% for recipe in recipes %}
			<div class="card">
				<div class="card__image-container">
					<img src="{{ recipe.image }}" alt="Foodfy - {{ recipe.title }}">
				</div>

				<div class="card__info">
					<p><a href="/recipes/{{ recipe.index }}">{{ recipe.title }}</a></p>
					<legend class="card__legenda">{{ recipe.author }}</legend>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock content %}