{% extends "layout.njk" %}

{% block content %}
	<section class="cards">
		<div class="card" id="ixbvCw-YiOA">
			<div class="card__image-container">
				<img src="img/burger.png" alt="Foodfy - Burger">
			</div>

			<div class="card__info">
				<p>Triplo bacon burger</p>
				<legend class="card__legenda">por Jorge Relato</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/pizza.png" alt="Foodfy - Pizza">
			</div>

			<div class="card__info">
				<p>Pizza 4 estações</p>
				<legend class="card__legenda">por Fabiana Melo</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/espaguete.png" alt="Foodfy - Espaguete">
			</div>

			<div class="card__info">
				<p>Espaguete ao alho</p>
				<legend class="card__legenda">por Júlia Kinoto</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/lasanha.png" alt="Foodfy - Lasanha">
			</div>

			<div class="card__info">
				<p>Lasanha mac n'cheese</p>
				<legend class="card__legenda">por Juliano Vieira</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/doce.png" alt="Foodfy - Docinhos">
			</div>

			<div class="card__info">
				<p>Docinhos pão do céu</p>
				<legend class="card__legenda">por Ricardo Golvea</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/asinhas.png" alt="Foodfy - Asinhas">
			</div>

			<div class="card__info">
				<p>Asinhas de frango ao barbecue</p>
				<legend class="card__legenda">por Vania Steroski</legend>
			</div>
		</div>

		<div class="card" id="ixbvCw-YiOA">
			<div class="card__image-container">
				<img src="img/burger.png" alt="Foodfy - Burger">
			</div>

			<div class="card__info">
				<p>Triplo bacon burger</p>
				<legend class="card__legenda">por Jorge Relato</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/pizza.png" alt="Foodfy - Pizza">
			</div>

			<div class="card__info">
				<p>Pizza 4 estações</p>
				<legend class="card__legenda">por Fabiana Melo</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/espaguete.png" alt="Foodfy - Espaguete">
			</div>

			<div class="card__info">
				<p>Espaguete ao alho</p>
				<legend class="card__legenda">por Júlia Kinoto</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/lasanha.png" alt="Foodfy - Lasanha">
			</div>

			<div class="card__info">
				<p>Lasanha mac n'cheese</p>
				<legend class="card__legenda">por Juliano Vieira</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/doce.png" alt="Foodfy - Docinhos">
			</div>

			<div class="card__info">
				<p>Docinhos pão do céu</p>
				<legend class="card__legenda">por Ricardo Golvea</legend>
			</div>
		</div>

		<div class="card">
			<div class="card__image-container">
				<img src="img/asinhas.png" alt="Foodfy - Asinhas">
			</div>

			<div class="card__info">
				<p>Asinhas de frango ao barbecue</p>
				<legend class="card__legenda">por Vania Steroski</legend>
			</div>
		</div>
	</section>
{% endblock content %}