{% extends "layout.njk" %}

{% block content %}
	<section class="cards">
		{% for receita in receitas %}
			<div class="card">
				<div class="card__image-container">
					<img src="{{ receita.image }}" alt="Foodfy - {{ receita.title }}">
				</div>

				<div class="card__info">
					<p><a href="/receitas/{{ receita.index }}">{{ receita.title }}</a></p>
					<legend class="card__legenda">{{ receita.author }}</legend>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock content %}